<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>找回密码</title>
</head>
<body>
    <h1> GETBACK </h1>
    <form action="{{ url_for('MRB.getback') }}" method="post">
        <span>用户名：&nbsp;</span>
        <input type="text" name="username" value="" holdplace="请输入要找回密码的用户名">
        <br>
        <span>用户邮箱：&nbsp;</span>
        <input type="email" name="useremail" id="">
        <br>
        <span>新密码：&nbsp;</span>
        <input type="password" name="userpwd" id="">
        <br>
        <input type="submit" value="提交">
        <input type="reset" value="重置">
    </form>
</body>
</html>