<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>登陆</title>
</head>
<body>
    <h1> LOGIN </h1>
    <form action="{{ url_for('MRB.login') }}" method="post">
            <span>用户名:&nbsp;</span><input type="text" placeholder="请输入用户名" name="username">
            <br>
            <span>密码:&nbsp;</span>
            <input type="password" name="userpwd">
            <br>
            <input type="submit" value="提交">
            <input type="reset" value="重置">
        </td>
    </form>
</body>
</html>